/**
myScore
 */

@charset "utf-8";

.brand-list {
    width: 100%;
}

div.score-section {
    width: 100%;
    margin-bottom: 0.12rem;
    color: #5F5F5F;
    font-size: .26rem;
    background-color: #FFFFFF;
    overflow: hidden;
}
div.score-section a {
    color: #5F5F5F;
}
div.brand-name {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: .9rem;
    padding: .3rem 0;
    line-height: .26rem;
}
div.brand-name a {
    display: block;
    width: 100%;
    height: .9rem;
}

div.brand-name span:first-child{
    left: .5rem;
    top: .3rem;
    width: .32rem;
    height: .32rem;
    background-image: url("../../images/myScore/iconGather.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -1.1rem -.55rem;
    background-size: 3rem 3rem;
}

div.brand-name span.score-rank{
    background-position: -1.12rem -1.2rem;
    background-size: 3rem 3rem;
}
div.brand-name span.score-view{
    background-position: -1.64rem -2px;
    background-size: 3rem 3rem;
}
div.brand-name span.score-write{
    background-position: -2.2rem 0;
    background-size: 3rem 3rem;
}

/*其他成绩的页面图标*/
div.brand-name span.myScore-other{
    background-position: -1.1rem -.55rem;
    background-size: 3rem 3rem;
}

div.brand-name span:nth-child(2) {
    left: .9rem;
}

div.brand-name span:last-child {
    transition: all ease .5s;
    right: .2rem;
    color: #E9E9E9;
}


ul.brand-model {
    width: 100%;
}

ul.brand-model li {
    width: 100%;
    height: .9rem;
    line-height: .9rem;
}
ul.brand-model li a {
    display: block;
    width: 100%;
    height: .9rem;
}

ul.brand-model li  span:first-child {
    left: 15%;
}

ul.brand-model li  span:last-child {
    right: .2rem;
    color: #E9E9E9;
}

ul.brand-model li  span:last-child i {
    color: #E53C65;
    font-size: 0.32rem;
    font-weight: 700;
}

