/**
20170626
*/
.unitDetail {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: .4rem;
}
.unitDetail .unitDetail-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    border-bottom: 1px solid #D1D1D1;

}
/*去掉最后一个item的下划线*/
.unitDetail .unitDetail-item:last-child {
    border-bottom: none;
}

.unitDetail .unitDetail-item a {
    display: block;
    width: 100%;

}

/*侧边线*/
.unitDetail-item .unitDetail-line {
    width: 1px;
    height: .9rem;
    background-color: #D1D1D1;
}

/*确定位置*/
.unitDetail .unitDetail-item span:nth-child(2){
    left: -.13rem;
}
.unitDetail .unitDetail-item span:nth-child(3){
    padding-left: .3rem;
}
.unitDetail .unitDetail-item span:nth-child(4){
    right: 3%;
    color: #2DA9FF;
    font-size: .36rem !important;
}
/*已经开始学习的 item 样式*/
.unitDetail .unitDetail-item span.start{
     color: #2DA9FF;
}

/*未开始学习的item样式*/
.unitDetail .unitDetail-item span.unstart {
    top: .32rem;
    width: .24rem;
    height: .24rem;
    border-radius: 50%;
    border: 1px solid #D1D1D1;
    background-color: #fff;
}

/*去除第一个和最后一个 item 的半条侧边线*/
.unitDetail-item:last-child .unitDetail-line{
    height: .4rem;
}

.unitDetail-item:first-child .unitDetail-line {
    bottom: 0;
    height: .4rem;
}