div.node-section{
	/*padding:0 0.3rem;*/
	margin-bottom: 0.1rem;
}
div.brand-name{
	/*padding: 10px 0;*/
	/*text-indent: 0.3rem;*/
	height: 0.98rem;
	line-height: 0.98rem;
	/*border-bottom: 1px solid #C8C4C3;*/
	font-size:0.24rem;
	color:#2caafe;
}
div.brand-name>span:first-child{
	/*margin-right: 0.1rem;*/
	padding-left: 0.3rem;
}
div.brand-name>span:last-child{
	color: #d3d3d3;
	right: 0.3rem;
	transition:all .5s ease;
	/*width: 0.26rem;*/
}

ul.brand-model>li{
	border-top:1px solid #e5e5e5;
	border-bottom:0;
	font-size: 0.22rem;
	/*text-indent: 0.3rem;*/
	padding:0 0.3rem 0.38rem;
	overflow: hidden;
	/*padding-bottom: 0.38rem;*/
}
ul.brand-model>li>.brand-desc{
	height: 0.84rem;
	line-height: 0.84rem;
}
ul.brand-model>li>.brand-desc>span:last-child{
	color:#999999;
	right: 0.3rem;
}
ul.brand-model>li>.content{
	color:#606060;
	overflow: hidden;
}
ul.brand-model>li>.content>.node-tit{
	height: 0.46rem;
	line-height: 0.46rem;
}
ul.brand-model>li>.content>.node-cli{
	max-height: 1.14rem;
	/*max-height: none;*/
	line-height: 0.38rem;
	overflow: hidden;
}
ul.brand-model>li>.con-footer{
	height:0.26rem;
	font-size:0.26rem;
	/*display: none;*/
}
#con-more{
	color:#49bcfb;
	right: 0;
}
/*ul.brand-model>li>.content-more{
	display: none;
}*/

/*
div.right>span{
	color: #ccc;
}
ul.brand-model>li{
	background: #fff;
}
ul.brand-model>li:last-child{
	border:none
}
ul.brand-model>li>span:last-child{
	right:2%;
	display:inline-block;
	transition: all ease 1s; 
}
ul.brand-model>li>span:last-child:hover{
	cursor: pointer;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.brand-desc{
	padding: 5px 0;
	border-bottom: 1px solid #C1C1C1;
}
.brand-desc>div{
	font-size: 12px;
}
.brand-desc>div:first-child{
	width: 60%;
	text-indent: 1em;
}
.brand-desc>div:last-child{
	width: 40%;
}
.content{
	height:120px;
}
.content>p{
	line-height:16px;
	text-indent:1em;
	height:16px;
	font-size:12px;
}
.content-more{
	padding: 5px 0;
	margin-top: 10px;
}
.content-more>p{
	line-height:16px;
	text-indent:1em;
	height:16px;
	font-size:12px;
}
.more{
	height: 25px;
}*/
