.tab {
	width: 100%;
	height: 0.7rem;
	padding:0.3rem 0.2rem;
	position:fixed;
	top:0;
	z-index:100;
	background: #EDEDED;
}
.tab .desc {
	height: 0.7rem;
	width: 6rem;
	/*margin:0.28rem 0.18rem;*/
	border-radius: 0.15rem;
	overflow:hidden;
}
.tab .item {
	width: 50%;
	height: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	font-size: 0.24rem;
	color:#fff;
	background-color:#2fa9ff;
	float: left;
}
.tab .selected {
	background-color: #187fc4;
}
.tab-contents{
	position: absolute;
	top:1.3rem;
	width:100%;
	overflow: hidden;
}
.questionList {
	font-size: 0.24rem;
	margin-bottom: 0.16rem;
	color: #606060;
}
.questionList>.questionList-item{

	padding: 0.36rem 0.3rem 0.42rem 0.3rem;
}
.questionList>.questionList-item.questionList-itemTch{
	border-top: 0.01rem solid #dcdcdc;
}
.questionList-stu{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.questionList-tch{
	width: 100%;
	overflow: hidden;
}
.questionList-tchMsg{
	height: 0.8rem;
	overflow: hidden;
}
.questionList-tchMsg>.img>a>img{
	width: 0.8rem;
	height:0.8rem;
	border-radius: 0.1rem;
	overflow: hidden;
}
.questionList-tchMsg>.tchText{
	padding: 0.12rem;
}
.questionList-tchMsg>.tchText>p:first-child{
	color:#9b9b9b;
	font-size: 0.2rem;
	margin-bottom: 0.05rem;
}
.questionList-tchAns{
	margin-top: 0.26rem;
}
.questionList-tchAns>p{
	line-height: 0.4rem;
}
.questionList-copy{
	margin-top: 0.26rem;
	height: 0.33rem;
	color: #999999;
}
.questionList-copy>span.quesUnit{
	margin-right: 0.44rem;
}
.questionList-copy>span.pos-absolute{
	right:0;
	width: 0.33rem;
	height: 0.33rem;
	/*background: url("../../images/myScore/iconGather.png") no-repeat 0 0;*/
	background-image: url("../../images/iconGather.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	/*background-position: 0 0;*/
	background-size: 3rem 3rem;
}
.questionList-copy>span.infoMsgNo{
	background-position: 0 0;
}
.questionList-copy>span.infoMsgHas{
	background-position: -0.54rem 0;
}
.questionList-copy>span.infoMsgTch{
	background-position: -1.08rem 0;
}
/*.pos-relative>span{
	right: 10px;
}
.questionList {
	padding: 10px 0;
	width: 100%;
	font-size: 12px;
	text-indent: 2em;
	margin-bottom: 3px;
}


.questionList-second>div:first-child{
	width:50%;
}
.questionList-second>div:nth-child(2){
	width:50%;
}
.infoMsg{
	right: 10px;
}
.active{
	color: dodgerblue;
}
.box{
	height: 100%;
}*/
