body{
	background-color: #fff;
}
.desc{
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.3rem;
	color: #30a8fe;
	background-color: #fff;
}
.courseList ul li{
	line-height: 0.86rem;
    border-top: 0.01rem solid #e5e5e5;
	padding:0 0.46rem;
    font-size: 0.24rem;
}
.courseList ul li:last-child{
	border-bottom: 0.01rem solid #e5e5e5;
}
.loswer{
	right: 0.46rem;
}
.footer{
	height: 0.7rem;
	position: absolute;
	bottom: 0.24rem;
	padding:0 0.18rem;
}
.footer a{
	width: 2.93rem;
	height: 0.7rem;
	line-height: 0.7rem;
	display:block;
	float: left;
	text-align: center;
	border-radius:0.1rem ;
	color:#fff;
	background: #2fa9ff;
}
.footer a:last-child{
	margin-left: 0.18rem;
}

