
/*基础 css 文件*/

@import url("font/iconfont.css"); /*引入字体图标文css文件*/
html {
    width: 100%;
    font-size: 50px;
}

/*适配模块*/
/*@media (min-width: 320px) {
    html {
        font-size: 50px;
    }
}
@media (min-width: 360px) {
    html {
        font-size: 56.25px;
    }
}
@media (min-width: 375px) {
    html {
        font-size: 58.59375px;
    }
}
@media (min-width: 384px) {
    html {
        font-size: 60px;
    }
}
@media (min-width: 412px) {
    html {
        font-size: 64.375px;
    }
}
@media (min-width: 414px) {
    html {
        font-size: 64.6875px;
    }
}
@media (min-width: 424px) {
    html {
        font-size: 66.25px;
    }
}
@media (min-width: 480px) {
    html {
        font-size: 75px;
    }
}
@media (min-width: 540px) {
    html {
        font-size: 84.375px;
    }
}
@media (min-width: 720px) {
    html {
        font-size: 112.5px;
    }
}
@media (min-width: 750px) {
    html {
        font-size: 117.1875px;
    }
}*/


/*reset start*/
*{
    margin: 0;
    padding: 0;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #000;
    background: #EDEDED;
    overflow-x: hidden;
    overflow-y: auto;
}

input, select {
    /*-webkit-appearance:none;
    background:#fff;*/
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

select {
    /*background:#fff url('../images/arrow1.jpg') no-repeat 95% center;
    background-size:14px auto;*/
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #444;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

a:visited {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
input[type="text"],input[type="password"] {
    border: none;
}
ul, ol, li {
    list-style: none;
}
i {
    font-style: normal;
}
/*去除video的下载按钮*/
/*video::-webkit-media-controls-enclosure {*/
    /*overflow: hidden;*/
/*}*/

/*video::-webkit-media-controls-panel {*/
    /*width: calc(100% + 30px);*/
/*}*/
/*!*去除 audio 的下载按钮*!*/
/*audio::-webkit-media-controls-enclosure {*/
    /*overflow: hidden;*/
/*}*/

/*audio::-webkit-media-controls-panel {*/
    /*width: calc(100% + 32px);*/
/*}*/
/*reset end*/

/*Common Tools Class -> start*/

.clearfix:before,
.clearfix:after{                  /*清除浮动*/
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

.left{
    float: left;
}

.right{
    float: right;
}

.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}

.white{
    background: #fff;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.transfrom90{
    transform:rotateZ(90deg);
}
.transform90{
    transform:rotateZ(90deg);
}
.transform180{
    transform:rotateZ(180deg);
}
.transformR{
    transform:translate(-6.4rem,0);
}


/*Common Tools Class -> end*/


.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.iconfont {
    font-size: 0.26rem !important;
}
.none-content {
    width: 200px;
    height: 200px;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-left: -100px;
    margin-top: -100px;
    display: none;
}

.no-content {
    width: 200px;
    height: 200px;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 70%;
    z-index: 10;
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-left: -100px;
    margin-top: -100px;
    display: none;
}

.none-content img, .no-content img {
    width: 100%;
    display: block;
    margin: 0 auto;
}



.loading {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    /*display: none;*/
}
.loading img {
    width: 100%;
}

.developing {
    padding-top: 45%;
    text-align: center;
    display: none;
}

.developing img {
    width: 60%;
}

/*滑动插件的高度设置*/
.swiper-wrapper {
    height: auto !important;
}

.swiper-slide {
    height: auto !important;
}

/*题型描述*/
.worknav {
    background: #fff;
    border-bottom: 7px solid #eee;
    padding: 12px 18px;
}

.worknav h1 {
    font-size: 15px;
    color: #2ea9ff;
    margin: 0;
    line-height: 1.5em;
}

.worknav p {
    font-size: 13px;
    color: #666;
    margin: 0;
    line-height: 1.5em;
}

/*=======课程目录列表 start======*/
/*点击icon*/
.unit-menu {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/menu.png) no-repeat center;
    background-size: 19px;
    position: absolute;
    top: 0px;
    right: 10px;
}

.unit-menu2 {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background: rgba(191, 191, 191, 0.8); /*#bfbfbf*/
    position: absolute;
    top: 12px;
    right: 12px;
}

.menuIcon2 {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/menu2.png) no-repeat center;
    background-size: 19px;
}

/*列表*/
.menu-list {
    position: absolute;
    top: 37px;
    left: 0;
    z-index: 2;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px #bebebe;
    display: none;
}

.menu-list li {
    height: 43px;
    line-height: 43px;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    color: #666;
    background: url(../images/circle-default.png) no-repeat 15px center #fff;
    background-size: 11px;
    padding: 0 10px 0 35px;
}

.menu-list li.over {
    background: url(../images/circle-over.png) no-repeat 15px center #fff;
    background-size: 12px;
}

.menu-list li.ing {
    background: url(../images/circle-ing.png) no-repeat 15px center #fff;
    background-size: 11px;
}

/*========sweetalert2 弹框插件补充 end======*/
.swal2-confirm.swal2-styled{
    outline:none;
}

/*========课程目录列表 end======*/
.main_content {
    padding-bottom: 65px;
}
