.body-content{
   width:100%;
   height:100%;
   font-size: .24rem;
}
.main_content{
	width: 100%;
	height: 100%;
	/*background:#f3f3f3;*/
}
.personal-info{
    width:100%;
    height:2.76rem;
    background:url('../../images/personal-bg.png') no-repeat;
    background-size: 100% 100%;
}
.pic-text{
    /*width:95%;
	margin:0 auto;
    height:70px;
    padding-top:40px;
    padding-left:5%;*/
	padding: .4rem;
}
.pic-text>.avatar{
    width: 1rem;
    height: 1rem;
    border: .03rem solid #fff;
    border-radius:50%;
    /*display:inline-block;*/
	margin:0 auto;
}
.pic-text>.avatar>img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.pic-text>.info{
    /*width:70%;
    display:inline-block;*/
    /*vertical-align:top;*/
    /*padding-top: 5px;
    margin-left: 10px;*/
    margin-top: .1rem;
    color:#fff;
}
.pic-text>.info>.real-name{
    font-size:0.26rem;
    line-height:0.46rem;
	text-align:center;
}
.pic-text>.info>.prof{
    font-size:0.2rem;
    line-height:0.4rem;
    text-align:center;
}
.options{
	margin-bottom: .1rem;
    background:#fff;
    color: #616161;
    border-top: .01rem solid #e5e5e5;
    border-bottom: .01rem solid #e5e5e5;
    /*list-style:none;*/
    padding:0;
    text-indent: .45rem;
}
.options li{
    /*color:#575757;
    line-height:45px;
    border-bottom:1px solid #dedfe1;
    background:url('../../images/course/arrow.png') no-repeat 97% center;
    background-size:10px auto;
    color:#333;*/
    line-height: .88rem;
    border-bottom: .01rem solid #dcdcdc;
}
.options>li.now-grade-copy{
    border-bottom:none;
    line-height: .6rem;
    font-size: .22rem;
}
.options>li.now-grade-copy>span{
    padding-left: .58rem;
}
.options li a{
    display:block;
    /*color:#333;*/
}
.options li i{
    width: .41rem;
    height: .4rem;
    display: inline-block;
    vertical-align:middle;
    background-image: url("../../images/iconGather.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 3rem 3rem;
}
/*.options li i{
    width:20px;
    height:20px;
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}*/
.options .now-grade i{
    background-position: 0 -0.51rem;
}
.options .change-myselfInfo i{
    /*background:url('../../images/personal01.png') no-repeat;
    background-size: 100% auto;*/
    background-position: -0.54rem -0.51rem;
}
.options .change-password i{
    background-position: 0 -1.17rem;
}
.options .important-notice i{
    background-position: -0.54rem -1.17rem;
}
.options .my-news i{
    background-position: -1.67rem -1.17rem;
}
.options em{
    font-style: normal;
    padding-left: .18rem;
}
.options .iconfont{
    right: .23rem ;
}
.options:last-child{
    margin: 0 auto;
    text-align: center;
    text-indent: 0;
    /*font-size: .28rem;*/
}
.options:last-child em{
    padding-left: 0;
}
/*.options .learn-center i{
    background:url('../../images/personal02.png') no-repeat;
    background-size: 100% auto;
}
.options .integral-info i{
    background:url('../../images/personal03.png') no-repeat;
    background-size: 100% auto;
}
.options .change-password i{
    background:url('../../images/personal04.png') no-repeat;
    background-size: 100% auto;
}
.options .important-notice i{
	background:url('../../images/personal05.png') no-repeat center;
    background-size: 100% auto;
}
.options .now-grade i{
	background:url('../../images/personal06.png') no-repeat;
    background-size: 80% auto;
}*/
/*
.optionsTwo{
	padding-left:0;
}
.optionsTwo li{
	background:none;
	padding-left:15px;
}
.optionsTwo li:last-child{
	line-height:35px;
    overflow: hidden;
}
.optionsTwo li span{
	margin-right:30px;
}*/
